<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.local.stockguard</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/Users/damianma/Documents/ownproject/stock_guard/stock_guard.py</string>
    <string>--live</string>
    <string>--log</string>
    <string>--notify</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/damianma/Documents/ownproject/stock_guard</string>

  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key>
      <integer>10</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <dict>
      <key>Hour</key>
      <integer>14</integer>
      <key>Minute</key>
      <integer>30</integer>
    </dict>
    <dict>
      <key>Hour</key>
      <integer>15</integer>
      <key>Minute</key>
      <integer>10</integer>
    </dict>
  </array>

  <key>StandardOutPath</key>
  <string>/Users/damianma/Documents/ownproject/stock_guard/stock_guard.out.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/damianma/Documents/ownproject/stock_guard/stock_guard.err.log</string>
</dict>
</plist>
